body {
  font-family: "Courier New", Courier, monospace;
  background-image: url(./images/nature-1426548442ySW.jpG);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  color: black;
  background-color: white;
  border: 3px solid black;
  opacity: 0.8;
}

.navbar li {
  display: inline;
  text-align: right;
}

.home li {
  display: inline;
}
