body {
  font-family: 'Raleway', sans-serif;
  background-image: linear-gradient(#b2708d, #f26b4d, #e88e20, #e2a04f);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #ffffff;
  transition-duration: 0.2s;
}

a:hover {
  color: black;
  cursor: pointer;
}

a:active {
  text-decoration: none;
  color: grey;
  transition-duration: 0.2s;
  transform: translateY(4px);
}

.navbar {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  border-radius: 6px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: #a81e39;
  border: 3px solid black;
  opacity: 0.8;
}

.navbar li {
  padding: 30px;
  display: inline;
  text-align: center;
}

.jumbotron img {
  padding: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.entry {
  margin: 30px 20px 30px 20px;
  border-radius: 6px;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: #a81e39;
  border: 3px solid black;
  opacity: 0.8;
}

.entry h1 {
  text-align: center;
}

footer {
  margin: 30px;
  float: right;
}

.products {
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 30px 30px;
}

.grid-item {
  text-align: center;
  padding: 75px;
  border-radius: 6px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: #53571a;
  border: 3px solid black;
  opacity: 0.8;
}

.grid-item:hover, .grid-itemng:hover {
  color: white;
  background-color: black;
  transition-duration: 0.2s;
  cursor: pointer;
}

.grid-item:active, .grid-itemng:active {
  cursor: pointer;
  color: black;
  background-color: #f26b4d;
  transform: translateY(4px);
}

.newgarden {
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px 30px;
}

.grid-itemng {
    text-align: center;
    padding: 4em;
    border-radius: 6px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: #53571a;
    border: 3px solid black;
    opacity: 0.8;
  }

  .services {
    text-align: center;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1px 1px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
