body {
  font-family: "Courier New", Courier, monospace;
  background-color: #825f32;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1em;
  font-weight: bold;
  color: black;
  background-color: #efa834;
  border: 3px solid black;
  opacity: 0.8;
}

.navbar li {
  padding: 50px;
  display: inline;
  text-align: right;
}

.jumbotron img {
  padding: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.entry {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1em;
  font-weight: bold;
  color: black;
  background-color: #efa834;
  border: 3px solid black;
  opacity: 0.8;
}

.entry h1 {
  text-align: center;
}
