body {
  font-family: 'Raleway', sans-serif;
  background-color: #ff9e49;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #ffffff;
  transition-duration: 0.2s;
}

a:hover {
  color: black;
  cursor: pointer;
}

a:active {
  text-decoration: none;
  color: grey;
  transition-duration: 0.2s;
  transform: translateY(4px);
}

.navbar {
  border-radius: 6px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: #a81e39;
  border: 3px solid black;
  opacity: 0.8;
}

.navbar li {
  padding: 30px;
  display: inline;
  text-align: center;
}

.jumbotron img {
  padding: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.entry {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 6px;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: #a81e39;
  border: 3px solid black;
  opacity: 0.8;
}

.entry h1 {
  text-align: center;
}

footer {
  margin: 30px;
  float: right;
}

.products {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 8px 8px;
}

.grid-item {
  text-align: center;
  padding: 75px;
  border-radius: 6px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: #53571a;
  border: 3px solid black;
  opacity: 0.8;
}

.grid-item:hover, .grid-itemng:hover {
  color: white;
  background-color: black;
  transition-duration: 0.2s;
  cursor: pointer;
}

.grid-item:active, .grid-itemng:active {
  cursor: pointer;
  color: black;
  background-color: #ab4a17;
  transform: translateY(4px);
}

.newgarden {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 8px 8px;
}

.grid-itemng {
    text-align: center;
    padding: 4em;
    border-radius: 6px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: #53571a;
    border: 3px solid black;
    opacity: 0.8;
  }
